<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Room Management</title>
</head>
<body>

  <!-- Concept of Content Projection -->
  <!-- <app-container>
    <h1>Hello, Learning ng Conainer</h1>
  </app-container> -->
  <!-- <h1>Hello! this is the Root Location</h1> -->

<!-- Using Switch Case -->
  <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">Welcome User</div>
    <div></div>
  </div>
  
  <!-- this below code is not dynamic -->
  <!-- <app-rooms></app-rooms> -->

  <!-- this is aisehi - Just for timepass -->
  <!-- <button (click) = "aisehi()">Just checking</button> -->

  <!-- this below code is known as dynamic typing because we are defining it in typescript -->
  <!-- Here #user is k/a template reference -->
  <div>
    <ng-template #user></ng-template>
  </div>

  <div #bye>
    <h5>ByeBye</h5>
  </div>

</body>
</html>